<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= button_to "Delete", post, method: :delete %>
    </p>
  <% end %>
</div>

<h1>Posts in overflow scroll</h1>

<div style="overflow: auto; height: 200px;">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= button_to "Delete", post, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
